<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UXL Tile View</title>
    <script src="/demo/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="/demo/styles.scss">
    <script>
        document.addEventListener('WebComponentsReady', function componentsReady() {
            document.removeEventListener('WebComponentsReady', componentsReady, false);
            var script = document.createElement('script');
            script.async = true;
            script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';
            var refScript = document.body.getElementsByTagName('script')[0];
            refScript.parentNode.insertBefore(script, refScript);
        }, false);
    </script>
</head>
<body>
<script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
</body>
</html>
