// @csspart mypart - Hello

@import '_variables&mixins';

@mixin animation-fade-out-in {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: fadeOutOpacity 1.5s infinite;
  -moz-animation: fadeOutOpacity 1.5s infinite;
  -o-animation: fadeOutOpacity 1.5s infinite;
  animation: fadeOutOpacity 1.5s infinite;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host {
  @include layout;
  @include layout-flex;
}

/* List skeleton */

.wrapper {
  @include layout-vertical;
  @include layout-flex;
  padding: 16px;

  &.horizontal {
    @include layout-horizontal;
    @include layout-wrap;

    .skeleton {
      margin: 0 16px 16px 0;
      flex: 0 0 30%;
    }
  }

  &.intermitent {
    @include animation-fade-out-in;
  }

  .skeleton {
    @include layout-vertical;
    @include layout-flex;
    margin-bottom: 16px;
    opacity: var(--uxl-ui-skeleton-opacity, 1);

    &__header {
      background-color: var(--uxl-ui-skeleton-primary-color, #e4e3e3);
      border-radius: 5px;
      margin-bottom: 6px;
      height: 20px;
      width: 30%;
    }

    &__body {
      background-color: var(--uxl-ui-skeleton-secondary-color, #f1f1f1);
      border-radius: 5px;
      height: 50px;
    }
  }
}

/* Single Skeleton */
.single-skeleton {
  @include layout-vertical;
  @include layout-flex;
  @include layout-center;
  opacity: var(--uxl-ui-skeleton-opacity, 1);

  &__header {
    background-color: var(--uxl-skeleton-primary-color, #e4e3e3);
    border-radius: 50%;
    margin-bottom: 8px;
    height: 60px;
    width: 60px;
  }
  &__body {
    background-color: var(--uxl-skeleton-secondary-color, #f1f1f1);
    border-radius: 50px;
    width: 100%;
    flex: 1;
    height: 30px;
  }

  &.horizontal {
    @include layout-horizontal;
    @include layout-center;

    .single-skeleton__header {
      margin: 0 16px 0 0;
    }
  }
}
